{
  "telegramBotToken": "1234567890:aBcDeFgHiJkLmNoPqRsTuVwXyZ123-aBcDe",
  "imgflipUsername": "abcdef",
  "imgflipPassword": "secret",
  "selfUrl": "https://example.com/",
  "maintainer": "some_telegram_user"
}
