{
  "telegramBotToken": "1234567890:aBcDeFgHiJkLmNoPqRsTuVwXyZ123-aBcDe",
  "imgflipUsername": "abcdef",
  "imgflipPassword": "secret",
  "imgflipToken": "abC/DeFgHiJkLmNoPqRsTuVwXyZaBcDeFgHiJkLm/a1=",
  "imgflipCookie": "aBcDeFgHiJkLmNoPqRsTuVwXz1",
  "selfUrl": "https://example.com/"
}
